@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

* {
    margin: 0;
    padding: 0;
}
:root {
    --fonte1: "DM Serif Display", serif;
    --fonte2: 'Open Sauce One', sans-serif;
    --corFundo: #FAEFE0;
    --pretoTitulos: #282A29;
    --laranjaEscuro: #AF4B27;
    --laranjaClaro: #E87F3B;
    --laranjaSimbolo: #E17E45;
    --rosaMedio: #EFA593;
    --rosaClaro: #FDB3CB;
    --verdeEscuro: #5D7F64;
    --verdeClaro: #97D8A5;
    --amarelo: #F3B551;
}
body {
    background-color: var(--corFundo);
}

/* Configuração do cabeçalho */
header {
    font-family: var(--fonte2);
    font-weight: bold;
    font-size: 1.125rem;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid var(--laranjaEscuro);
}
header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .menu a {
    text-decoration: none;
    color: var(--pretoTitulos);
    margin: 10px;
}
header .menu a:hover {
    text-decoration: underline black;
}
header .menu .contato {
    padding-left: 15px;
    background-color: var(--rosaClaro);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
header .menu a.contato:hover {
    text-decoration: underline;
    color: black;
}
header .menu .contato img {
    background-color: var(--laranjaSimbolo);
    border-radius: 30px;
    padding: 10px;
}

/* Configuração da primeira section do main */
.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.apresentacao_texto {
    margin: 100px;
}
.apresentacao_imagem {
    margin: 100px;
}
.apresentacao_imagem img {
    border-radius: 20px;
}
.apresentacao h1 {
    font-family: var(--fonte1);
    font-size: 6.625rem;
    font-weight: 100;
    line-height: 90px;
    margin-bottom: 40px;
}
.apresentacao p {
    font-family: var(--fonte2);
    font-size: 1.125rem;
    margin-top: 40px;
}
.apresentacao .botoes_apresentacao {
    margin: 20px;
    margin-top: 70px;
}
.apresentacao .botoes_apresentacao a {
    margin: 15px;
}
.apresentacao .botoes_apresentacao a.btn_contato:hover {
    text-decoration: underline;
    color: black;
}
.apresentacao .btn_saiba_mais {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: var(--fonte2);
    background-color: var(--laranjaClaro);
    color: white;
    padding: 20px;
    border-radius: 40px;
    text-decoration: none;
}
.apresentacao .btn_contato {
    font-family: var(--fonte2);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--pretoTitulos);
    background-color: var(--rosaClaro);
    padding: 20px;
    border-radius: 40px;
    text-decoration: none;
}


/* Configuração da segunda section do main */

.produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 50px 100px 50px;
}
.produtos img {
    height: auto;
    width: 300px;
}
.produtos .setinha {
    height: 30px;
    width: 30px;
}
.produtos p {
    color: black;
}

.produtos .espelhos {
    display: flex;
    flex-direction: column;
}
.produtos .espelhos .imagem_espelhos {
    height: 330px;
    width: 300px;
}
.produtos .espelhos .texto_espelhos {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--laranjaEscuro);
    font-family: var(--fonte2);
    font-size: 1.5rem;
    border-radius: 0px 0px 20px 20px;
}
.produtos .espelhos .texto_espelhos a {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #FFA857;
    border-radius: 30px;
    padding: 10px;
}
.produtos .espelhos .texto_espelhos a:hover {
    border: 0.4px solid white;
}

.produtos .estofados {
    display: flex;
    flex-direction: column;
}
.produtos .estofados .imagem_estofados {
    height: 320px;
    width: 300px;
}
.produtos .estofados .texto_estofados {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--rosaMedio);
    font-family: var(--fonte2);
    font-size: 1.5rem;
    border-radius: 0px 0px 20px 20px;
}
.produtos .estofados .texto_estofados a {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--rosaClaro);
    border-radius: 30px;
    padding: 10px;
}

.produtos .outros {
    display: flex;
    flex-direction: column;
}
.produtos .outros .imagem_outros {
    height: 320px;
    width: 300px;
}
.produtos .outros .texto_outros {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--verdeEscuro);
    font-family: var(--fonte2);
    font-size: 1.5rem;
    border-radius: 0px 0px 20px 20px;
}
.produtos .outros .texto_outros a {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--verdeClaro);
    border-radius: 30px;
    padding: 10px;
}

/* Configuração da terceira section do main */

.contatoELinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contatoELinks .texto_contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 200px 0px 200px;
}
.contatoELinks .texto_contato .paragrafo h1 {
    font-family: var(--fonte1);
    font-size: 2.625rem;
    font-weight: 100;
    text-align: center;
}
.contatoELinks .texto_contato .paragrafo h2, p {
    font-family: var(--fonte2);
    color: #545755;
}
.contatoELinks .texto_contato .paragrafo h2 {
    margin-top: 40px;
    font-weight: lighter;
    font-size: 2rem;
    text-align: justify;
}
.contatoELinks .texto_contato .paragrafo p {
    margin: 20px 0px 0px 0px;
    font-size: 1.25rem;
}

.contatoELinks .links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.contatoELinks .links img.cartinha {
    height: 15px;
    width: 20px;
}
.contatoELinks .links img.pinterest {
    border-radius: 4px;
}
.contatoELinks .links img {
    margin-right: 20px;
    height: 19px;
    width: 20px;
}
.contatoELinks .links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.contatoELinks .links a p {
    color: #BA4B2F;
    font-size: 1.312rem;
    font-family: var(--fonte2);
}
.contatoELinks .links a:hover {
    text-decoration: underline #BA4B2F;
}

.contatoELinks .texto_contato a.converse_conosco {
    font-family: var(--fonte2);
    font-size: 1.312rem;
    text-decoration: none;
    background-color: var(--laranjaClaro);
    color: white;
    padding: 20px;
    border-radius: 50px;
    margin-top: 70px;
}
.contatoELinks .texto_contato a.converse_conosco:hover {
    text-decoration: underline white;
}

/* Configuração da section 4 */

.espelhos_organicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 30px 30px 30px;
}
.espelhos_organicos h1 {
    font-size: 2.265rem;
    margin-top: 34px;
    margin-bottom: 40px;
} 
.espelhos_organicos ul {
    font-family: var(--fonte2);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.espelhos_organicos ul li {
    list-style-type: none;
    margin: 20px 10px 20px 10px;
}
.espelhos_organicos ul li img {
    border-radius: 60px;
    height: 360px;
    width: 244px;
    margin-bottom: 15px;
}
.espelhos_organicos ul li h2 {
    font-size: 1.25rem;
}
.espelhos_organicos ul li p {
    color: black;
    font-size: 1.125rem;
}

.espelhos_organicos a {
    background-color: var(--rosaClaro);
    color: black;
    font-family: var(--fonte2);
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;
    font-weight: bold;
    margin: 10px;
    font-size: 1.25rem;
}
.espelhos_organicos a:hover {
    text-decoration: underline black;
}