/* Configuração do cabeçalho */

header {
    position: fixed;
    width: 100vw;
    background-color: var(--corFundo);
    font-family: var(--fonte2);
    font-weight: bold;
    font-size: 1.125rem;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid var(--laranjaEscuro);
}
header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .menu a {
    text-decoration: none;
    color: var(--pretoTitulos);
    margin: 1rem;
}
header .menu a:hover {
    text-decoration: underline black;
}
header .menu .contato {
    padding-left: 1rem;
    background-color: var(--rosaClaro);
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 9.7rem;
}
header .menu a.contato:hover {
    text-decoration: underline;
    color: black;
}
header .menu .contato img {
    background-color: var(--laranjaSimbolo);
    border-radius: 3rem;
    padding: 1rem;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1080px) {
   .logo_casa_poranga {
    width: 150px;
    height: auto;
   }
   .menu a {
    font-size: large;
   }
}

@media screen and (max-width: 820px) {
    header {
        flex-direction: column;
        padding: 3% 1% 0 1%;
    }
    .menu a {
        font-size: .8rem;
    }
    header .menu .contato {
        width: 7rem;
    }
    header .menu .contato img {
        width: 20px;
        padding: 1rem;
        border-radius: 1.5rem;
    }
}