/* Configuração do cabeçalho */

header {
    position: fixed;
    width: 100vw;
    background-color: var(--corFundo);
    font-family: var(--fonte2);
    font-weight: bold;
    font-size: 1.125rem;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid var(--laranjaEscuro);
}
header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .menu a {
    text-decoration: none;
    color: var(--pretoTitulos);
    margin: 1rem;
}
header .menu a:hover {
    text-decoration: underline black;
}
header .menu .contato {
    padding-left: 1.5rem;
    background-color: var(--rosaClaro);
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}
header .menu a.contato:hover {
    text-decoration: underline;
    color: black;
}
header .menu .contato img {
    background-color: var(--laranjaSimbolo);
    border-radius: 3rem;
    padding: 1rem;
}

/*TABLETS*/

@media screen and (max-width: 769px) {
    header {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 8rem;
        border-bottom: 4px solid var(--laranjaEscuro);
    }
    header .menu a {
        font-size: 1.2rem;
    }
    header .menu .contato img {
        padding: 1rem;
        width: 1rem;
    }
}