/* Configuração da primeira section do main */

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
}
.apresentacao_texto {
    margin: 10rem;
}
.apresentacao_imagem {
    margin: 10rem;
}
.apresentacao_imagem img {
    border-radius: 2rem;
}
.apresentacao h1 {
    font-family: var(--fonte1);
    font-size: 6.625rem;
    font-weight: 100;
    line-height: 9rem;
    margin-bottom: 4rem;
}
.apresentacao p {
    font-family: var(--fonte2);
    font-size: 1.125rem;
    margin-top: 4rem;
}
.apresentacao .botoes_apresentacao {
    margin: 2rem;
    margin-top: 7rem;
}
.apresentacao .botoes_apresentacao a {
    margin: 1.5rem;
}
.apresentacao .botoes_apresentacao a.btn_contato:hover {
    text-decoration: underline;
    color: black;
}
.apresentacao .btn_saiba_mais {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: var(--fonte2);
    background-color: var(--laranjaClaro);
    color: white;
    padding: 2rem;
    border-radius: 4rem;
    text-decoration: none;
}
.apresentacao .btn_contato {
    font-family: var(--fonte2);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--pretoTitulos);
    background-color: var(--rosaClaro);
    padding: 2rem;
    border-radius: 4rem;
    text-decoration: none;
}

/*TABLETS*/

@media screen and (max-width: 769px) {
    .apresentacao {
        padding-top: 5rem;
    }
    .apresentacao_texto {
        font-size: 1rem;
        width: 50vw;
    }
    .apresentacao_imagem {
        margin: 1rem;
        padding-right: 3rem;
        width: 50vw;
        height: auto;
    }
    .apresentacao_imagem img {
        width: 25rem;
    }
    .apresentacao h1 {
        font-size: 4.625rem;
        line-height: 4rem;
        margin-bottom: 4rem;
        padding-left: 5rem;
    }
    .apresentacao p {
        font-size: 1.125rem;
        margin-top: 3rem;
        padding-left: 5rem;
    }
    .apresentacao .botoes_apresentacao {
        margin-top: 1rem;
        padding-left: 4rem;
        display: flex;
        width: 100vw;
    }
    .apresentacao .botoes_apresentacao a {
        font-size: 1rem;
        padding: 1rem;
    }
}