/* Configuração da primeira section do main */

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}
.apresentacao_texto {
    margin: 9rem;
}
.apresentacao_imagem {
    margin: 9rem;
}
.apresentacao_imagem img {
    border-radius: 2rem;
}
.apresentacao h1 {
    font-family: var(--fonte1);
    font-size: 6.625rem;
    font-weight: 100;
    line-height: 7rem;
    margin-bottom: 3rem;
}
.apresentacao p {
    font-family: var(--fonte2);
    font-size: 1.125rem;
    margin-top: 3rem;
}
.apresentacao .botoes_apresentacao {
    display: flex;
    margin: 1rem;
    margin-top: 2rem;
}
.apresentacao .botoes_apresentacao a {
    margin: 1.5rem;
}
.apresentacao .botoes_apresentacao a.btn_contato:hover {
    text-decoration: underline;
    color: black;
}
.apresentacao .btn_saiba_mais {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: var(--fonte2);
    background-color: var(--laranjaClaro);
    color: white;
    padding: 2rem;
    border-radius: 4rem;
    text-decoration: none;
}
.apresentacao .btn_contato {
    font-family: var(--fonte2);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--pretoTitulos);
    background-color: var(--rosaClaro);
    padding: 2rem;
    border-radius: 4rem;
    text-decoration: none;
}

/*TABLETS*/

@media screen and (max-width: 769px) {
    
}